
:root{
    --primary-color: black;
    --secundary-color:#F9F7FE;
}
h2{
    font-size: 64px;
    font-family: 'Playfair Display', serif;
    color: var(--primary-color);
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 30px;
}
.space{
    padding: 120px 60px;
}
.principal{
    text-align: center;
    color: var(--primary-color);
    padding: 160px 20px;
    background-color: var(--secundary-color)
}
.principal{
    padding: 160px 20px;
    
}
.principal h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 1.5;
}
.principal h2{
    color: #272142;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.principal p{
    color: #272142;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.contact-button{
    background-color:#6C63FF;
    color: white;
    padding: 15px 30px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}
.contact-button:hover{
    border: 1px solid;
    font-weight: 500;
}
.button-projects{
    background-color: white;
    color: #6C63FF;
    padding: 15px 30px;
    border-radius: 4px;
    border: 1px solid #6C63FF;
    font-family: 'Poppins', sans-serif;;
}
.navbar-brand, nav-link{
    font-family: 'Poppins', sans-serif;
    color: #272142;
}

@media (max-width:960px){
    h2{
        font-size: 43px;
    }
    .principal{
    padding: 80px 20px;
    }
    .principal h1{
    font-size: 43px;
    line-height: 2;
    }
    .space{
        padding: 0;
        text-align: center;
    }
}